[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = true
verbosity = 3
fuzz = { runs = 256 }

# See more config options https://book.getfoundry.sh/reference/config.html
